# IntelliJ IDEA files
*.idea
*.iws
*.ipr
*.iml

# Gradle files
.gradle
*.bat
**/gradlew
**/gradle

# Compiled class file
*.class

# Log file
*.log

# Java
**/build

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
